<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domains.user.UserMapper">
    <!-- 사용자 등록 -->
    <insert id="insertUser" parameterType="map">
        INSERT INTO USER (
            EMAIL,
            NAME,
            USER_ID,
            PASSWORD,
            CREATED_DATE,
            CREATED_BY,
            UPDATED_DATE,
            UPDATED_BY
        ) VALUES (
            #{email},
            #{name},
            #{userId},
            #{password},
            NOW(),
            'SYSTEM',
            NOW(),
            'SYSTEM'
        )
    </insert>

    <select id="selectUserInfo" parameterType="map" resultType="QueryMap">
        SELECT
            USER_ID,
            NAME,
            PASSWORD,
            PHONE,
            EMAIL,
            MEMO,
            CREATED_DATE,
            CREATED_BY,
            UPDATED_DATE,
            UPDATED_BY,
            USE_YN
        FROM
            USER
        WHERE
            USER_ID = #{userId}
    </select>

    <update id="updateLoginInfo" parameterType="String" >
        UPDATE USER
        SET LAST_LOGIN_DATE      = NOW()
          ,PS_ERROR_CNT     = 0
          ,PS_LOCK_DATE     = NULL
          ,USER_STATUS      = 'NORMAL'
--           ,UPDATED_DATE		 = NOW()
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateLoginFailCount" parameterType="QueryMap" >
        UPDATE USER U
        SET PS_ERROR_CNT = CASE WHEN IFNULL(U.PS_ERROR_CNT,0) >= 5 THEN 1 ELSE IFNULL(U.PS_ERROR_CNT,0) + 1 END
          ,PS_LOCK_DATE = CASE WHEN IFNULL(U.PS_ERROR_CNT,0) >= 5 THEN NOW() ELSE NULL END
          ,USER_STATUS  = CASE WHEN IFNULL(U.PS_ERROR_CNT,0) >= 5 THEN 'PWD_LOCK' ELSE U.USER_STATUS END
        WHERE USER_ID = #{userId}
    </update>

</mapper>