<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domains.user.UserMapper">
    <!-- 사용자 등록 -->
    <insert id="insertUser" parameterType="map">
        INSERT INTO USER (
            EMAIL,
            NAME,
            USER_ID,
            PASSWORD,
            CREATED_AT,
            CREATED_BY,
            UPDATED_AT,
            UPDATED_BY
        ) VALUES (
            #{email},
            #{name},
            #{userId},
            #{password},
            NOW(),
            'SYSTEM',
            NOW(),
            'SYSTEM'
        )
    </insert>
</mapper>